@font-face {
  font-family: charter;
  src: url('../fonts/charter-regular.otf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: charter;
  src: url('../fonts/charter-italic.otf');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: charter;
  src: url('../fonts/charter-bold.otf');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: charter;
  src: url('../fonts/charter-bold-italic.otf');
  font-style: italic;
  font-weight: bold;
}

:root {
  --gray30: #FFFFFE;
  --gray20: #212429;
  --gray10: #616161;
  --blue: #B8C1EC;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  font-style: normal;
  color: var(--gray30);
  background: #232946;
}

.wrapper {
  margin: auto;
}

.header {
  display: block;
}

.header-content {
  padding-inline: 16px;
}

header {
  margin-block-start: 16px;
}

.variante {
  text-transform: uppercase;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--gray30)
}

nav ul.indexs {
  margin-block-start: 16px;
  margin-block-end: 40px;
  padding-inline-start: 0;
}

.indexs li.selecionado a {
  color: white;
}

.indexs li a {
  color: var(--blue);
  font-weight: 500;
  line-height: 24px;
  font-style: normal;
  font-size: 14px;
  text-decoration: none;
}

li.selecionado {
  background: black;
}

nav ul.indexs li {
  margin: 0;
  padding: 8px;
  border-radius: 4px;
}

nav ul.indexs li::marker {
  content: "";
}

ol li a {
  text-decoration: none;
  color: var(--blue);
}


.main-content {
  margin-block-start: 40px;
  padding-inline: 16px
}

main h1 {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

main p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--blue);
}

hr {
  margin-block: 40px;
  border: 1px solid rgba(97, 97, 97, 0.2);
}


h2 {
  font-size: 24px;
  line-height: 28.13px;
  font-weight: 400;
  font-style: normal;
  color: #fffffe;
}

img.logo {
  inline-size: 48px;
  block-size: 48px;
  margin-block-start: 24px;
  margin-block-end: 16px;
}

.section-content img {
  margin-block-start: 40px;
  display: block;
  max-inline-size: 100%;
}

.section-content {
  counter-reset: titleList;
}

h3 {
  font-weight: 400;
  font-size: 20px;
  font-style: normal;

}

.section-content h3 {
  counter-increment: titleList;
}

.section-content.num h3::before {
  content: counter(titleList, decimal)'. ';
}

.section-content.num h3 {
  position: relative;
  display: inline-block;
}



blockquote {
  margin-block: 40px;
  margin-inline: 0;
  padding: 8px;
  line-height: 32px;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}

blockquote {
  border-radius: 8px;
  padding-inline-start: 16px;
  padding-block: 0;
  background-color: #D4939D;
}

blockquote p {
  color: #232946;
}

blockquote span {
  color: #232946;
}

blockquote span::before {
  content: "-";
}

pre {
  padding: 40px;
  /* overflow: auto; */
  border-radius: 8px;
  margin-block-end: 30px;
  color: var(--gray30);
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  font-weight: 400;
}

.section-content ol li {
  line-height: 24px;
  color: #B8C1EC;
}

.section-content ul li {
  line-height: 24px;
  font-size: 16px;
  font-style: normal;
  color: #B8C1EC;
  margin-block: 16px;
}

.slider-container {
  display: block;
  overflow: auto;
  scroll-behavior: smooth;
  white-space: nowrap;
  font-size: 0;
}

.video {
  margin: 0;
  display: inline-block;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

.slider-bullet-list {
  text-align: center;
  margin-block-start: 10px;
}

.slider-bullet {
  display: inline-block;
  inline-size: 15px;
  block-size: 15px;
  background: white;
  border-radius: 50%;
}

.form input {
  inline-size: 100%;
  border: 1px solid white;
  box-sizing: border-box;
  border-radius: 8px;
  padding-inline: 16px;
  padding-block: 12px;
  font-size: 16px;
  display: block;
  margin-block-end: 24px;
  background: none;
}

.form input[type="submit"] {
  background: #EEBBC3;
  border: none;
  color: white
}

.form input::-webkit-input-placeholder {
  color: #fffffe;
}

.footer-content {
  background: #EEBBC3;
  ;
}

.footer-content p {
  color: black;
}

.footer-content {
  padding-block-start: 40px;
  padding-block-end: 58px;
}

.footer-content img {
  inline-size: 24px;
  block-size: 24px;
}

.footer-content p {
  text-align: center;
  font-size: 24px;
  line-height: 28.13px;
  margin-block-start: 0;
  margin-block-end: 16px;
}

.footer-content .social-links {
  max-inline-size: 120px;
  block-size: 24px;
  display: block;
  margin: auto;
  font-size: 0;
}

.footer-content .social-links img {
  margin-inline: 8px;
}


@media screen and (min-width: 1366px) {
  .hero {
    block-size: 350px;
  }

  .wrapper {
    max-inline-size: 902px;
    margin: auto;
  }

  .header {
    position: sticky;
    inset-block-start: -45px;
  }

  .header-content {
    position: relative;
    inset-block-start: 65px;
    padding-inline: 0px;
  }

  header {
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: -208px;
    inline-size: 188px;

  }


  .menu2 {
    display: inline-block;
  }

  header li {
    margin-block-end: 16px;
  }

  header a {
    text-decoration: none;
  }

  h1 {
    font-size: 60px;
    margin-block-start: 64px;
  }

}